{% extends 'base.html' %}

{% block body %}

 
<header class="HomeImage" id="home">
	<!-- FLASH MESSAGES !--> 
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% for category, message in messages %}
			<div class="alert {{ category }}" role="alert">
				{{ message }}
				</div>
				{% endfor %}
				{% endwith %}

	<div class="wrapper fadeInDown">
		<!-- SIGN UP BOX  !--> 
		<div class="formContent">
		  <!-- Tabs Titles -->
		  <h2 class="inactive underlineHover"><a href="{{ url_for('login')}}">Sign In</a></h2>
		 <h2 class="active">Sign Up</h2> 
	  
		  <!-- Icon -->
		  <div class="fadeIn first">
			<!-- Icon image referece: [2]	“User Icons & Symbols.” https://www.flaticon.com/free-icons/user (accessed Oct. 16, 2022).-->
			<img src="https://i.postimg.cc/Jhb8TH28/login.png" alt="" width="112" height="112">
		  </div>
	  
		  <!-- Login Form -->
		  <form method="POST">
			<div class="Container">	
			<input type="text" id="Company" class="fadeIn second" name="Company" placeholder="Company" value="{{request.form.Company }}" required>
			<input type="text" id="Email" class="fadeIn second" name="Email" placeholder="Email" value="{{request.form.Email }}" required>
			<input type="text" id="Username" class="fadeIn second" name="Username" placeholder="Username" value="{{request.form.Username }}" required>
			<input type="text" id="Password" class="fadeIn third" name="Password" placeholder="Password" value="{{request.form.Password_hash }}" required>
			<input type="text" id="Password2" class="fadeIn third" name="Password2" placeholder="Confirm Password" value="{{request.form.Password_hash2 }}" required>
			<input type="submit" value="Register">
		  </div>
		  </form>
	  
		</div>
	  </div>


	</form>
</div>
<br/><br/><br/>



<hr>

    <!-- Footer -->
    <footer>
      <div class="Footer" >
      
          
            <h6 >Desgined 2022</h6>
            <h6>COSC2820 Assignment 2 | Milestone II Web-based Data </h6>
            <h6><b>Student ID:</b>  S3923076 </h6>
            <h6><b>Student Name:</b> Matthew Bentham</h6>
         
      </div>
    </footer>

    {% endblock %}

  </body>

</html>