{% extends "base.html" %}
{% block body %}




<!-- Header with full-height image -->
<header class="HomeImage" id="home">
    <div class="Intotext" style="padding:48px">
      <h1>Welcome to Matthew's Jobs</h1><br>
      <h2>Start something that matters</span><br>
        <br>

      <p><a href="/search" class="button">Job Search</a></p>
      <p><a href="/login" class="button">Log in</a></p>
    </div> 
  </header>
  
<br><br>


<!-- REFERENCES !--> 
  <header class="Stuinfo" id="home">
    <div class="infotxt" style="padding:48px">
      <h1>References</h1><br>
      <p>For purely aesthetic reasons CSS templates were used to help produce the layout of the cite:<br><br>
        [1]	“500+ Search Pictures [HD] | Download Free Images on Unsplash.” https://unsplash.com/s/photos/search (accessed Oct. 23, 2022).<br>
[2]	“User Icons & Symbols.” https://www.flaticon.com/free-icons/user (accessed Oct. 16, 2022).<br>
[3]	“Implementing A Pure CSS Collapsible | DigitalOcean.” https://www.digitalocean.com/community/tutorials/css-collapsible (accessed Oct. 16, 2022).<br>
[4]	“Simple Search Bar.” https://codepen.io/huange/pen/bGqMqM (accessed Oct. 16, 2022).<br>
[5]	“Pure CSS3 Login Form.” https://codepen.io/danzawadzki/pen/EgqKRr (accessed Oct. 16, 2022).<br>
[6]	“CSS Button On Hover Slide Effect.” https://codepen.io/RazorXio/pen/gMaoOW (accessed Oct. 16, 2022).<br>
[7]	“Navbar with fun hover effect.” https://codepen.io/kevinpowell/pen/GrLKNo (accessed Oct. 16, 2022).<br>

        

   
      
    </div> 
  </header>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="Footer" >
    
        
          <h6 >Desgined 2022</h6>
          <h6>COSC2820 Assignment 2 | Milestone II Web-based Data </h6>
          <h6><b>Student ID:</b>  S3923076 </h6>
          <h6><b>Student Name:</b> Matthew Bentham</h6>
       
    </div>
  </footer>

  {% endblock %}

</body>

</html>